<section class="table">
  <div class="row">
    <!-- Logo with agreements etc -->
    <div class="col-md-6 sign-up padding">
        <%= image_tag 'logo-medium.jpg' %>
        <h3>Welcome to Cabin Fever.</h3>
        <p>By signing up you agree to our terms of use, privacy policy and cookie policy.</p>
    </div>
    <!-- Sign up form -->
    <div class="col-md-6 border-left padding">

      <h2>Sign up</h2>

      <%= form_for(resource, as: :user, url: registration_path(:user), class: "padding-top") do |f| %>
        <%= devise_error_messages! %>
        <ul class="devise-input">
          <li class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "l-form" %>
          </li>

        <li class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "l-form" %>
        </li>

        <li class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "l-form" %>
        </li>
        <li class="field">
          <%= f.label :firstname %><br />
          <%= f.text_field :firstname, class: "l-form" %>
        </li>
        <li class="field">
          <%= f.label :lastname %><br />
          <%= f.text_field :lastname, class: "l-form"%>
        </li>
        <li class="field">
          <%= f.label :city %><br />
          <%= f.text_field :city, class: "l-form"%>
        </li>

        <li class="actions">
          <%= f.submit "Sign up", class: 'submit-button full-width button-text' %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</section>