<h1> Welcome and full the information as requested: </h1>


<p>
   <%= link_to "new listing", new_listing_path %>
   <%= link_to "new user", new_user_path %>
</p>

<% @listings.each do |listing| %>
<ul class="list-group">
 <li class="list-group-item"><article>
   <h2><%= link_to listing.title, listing %></h2>
   <h2><%= listing.location %></h2>
   <h2><%= listing.price%></h2>
   <p><%= listing.description %></p>
 </article></li>
</ul>

<% end %>
