<h2>Listings</h2>

<p>
   <%= link_to "new listing", new_listing_path %>
   <%= link_to "new user", new_user_path %>
</p>

<div class="list-group">

	<% @listings.each do |listing| %>
		
		<div class="col-md-6 list-group-item">

						<img class="listing-photo" src="http://www.recordshred.com/wp-content/themes/juiced-recordShred/img/thumbnail-default.jpg">
					
					<ul>

					 	<li><%= link_to listing.title, listing %></li>
					   	<li><%= listing.location %></li>
					   	<li><%= listing.price%></li>
					   	<li><%= listing.description %></li>
					 	
					</ul>


		</div>
	
	<% end %>

</div>
