<section class="cabin padding">
  
  <div class="add"><%= image_tag "add.jpg" %></div>
  <h2 class="margin-top">Add a cabin</h2>

  <%= form_for([@user, @listing]) do |f| %>
  <ul class="devise-input margin-top">
     <li class="form-group">
       <%= f.label :title%>
       <%= f.text_field :title, class: 'form-control' %>
     </li>

     <li class="form-group">
       <%= f.label :location %>
       <%= f.text_field :location, class: 'form-control', rows: 4 %>
     </li>
     <li class="form-group">
       <%= f.label :description %>
       <%= f.text_area :description, class: 'form-control', rows: 4 %>
     </li>
     <li class="form-group">
       <%= f.label :price %>
       <%= f.text_field :price, class: 'form-control', rows: 4 %>
     </li>
     <li class="form-group">
       <%= f.label :start_available%>
       <%= f.date_select :start_available, class: 'form-control' %>
     </li>
     <li class="form-group">
       <%= f.label :end_available%>
       <%= f.date_select :end_available, class: 'form-control' %>
     </li>
     <li class="form-group">
       <%= f.label :image %>
       <%= f.file_field :image %>
     </li>
      <li class="form-group">
        <%= f.submit "Submit your Cabin", class: 'submit-button button-text' %>
      </li>
   </ul>
   <% end %>

</section>
