<h1>Dit is de show pagina!</h1>

<h1><%= @listing.title %></h1>
<h2><%= @listing.location %></h2>
<h2><%= @listing.description %></h2>
<h2><%= @listing.price %></h2>

<%= link_to "Deleted",listing_path(@listing), method: :delete %>
<%= link_to "Edit",edit_listing_path(@listing) %>
