<%= form_for(@user) do |f| %>

<div class="table padding">

 <div class="form-group">
   <%= f.label :firstname%>
   <%= f.text_field :firstname, class: 'form-control' %>
 </div>

 <div class="form-group">
   <%= f.label :lastname %>
   <%= f.text_field :lastname, class: 'form-control', rows: 4 %>
 </div>

 <div class="form-group">
   <%= f.label :city %>
   <%= f.text_field :city, class: 'form-control' %>
 </div>

 <div class="form-group">
   <%= f.label :email %>
   <%= f.text_field :email, class: 'form-control' %>
 </div>

 <div class="form-group">
   <%= f.submit "Create Account", class: 'l-button button-text' %>
 </div>

 <div class="form-group">
   <%= f.submit "Create Account", class: 'l-button button-text' %>
 </div>

</div>
 <% end %>
