<section class="table">
	<div class="row">
		<!-- Begin kolom Reservations -->
		<div class="col-md-6 padding">
			<h2>My Profile</h2>
			<img class="profile_picture" src="https://d22r54gnmuhwmk.cloudfront.net/app-assets/global/default_user_icon-7a95ec473c1c41f6d020d32c0504a0ef.jpg">
				<h4>First Name: <%= @user.firstname %></h4>
				<h4>Last Name: <%= @user.lastname %></h4>
				<h4>email: <%= @user.email %></h4>
				<h4>city: <%= @user.city %></h4>
				<button class="l-button button-text margin-top-s">Edit Profile</button>
				<button class="l-button button-text margin-top-s">Delete Profile</button>
		</div>

		<div class="col-md-6 padding border-left">

			<% if @reservations.present? %>

			<h2>My Reserverations</h2>

			<% @reservations.each do |reservation| %>
				<table class="margin-top-s">
					<tr>
						<td class="cabintext">
							<h5><%= reservation.listing.title %></h5>
					    <h5><%= reservation.start_date %></h5>
							<h5><%= reservation.end_date %></h5>
					 	</td>
					 </tr>
				</table>
				<% end %>
				<% end %>


		<!-- Begin kolom Cabins -->

			<h2>My Cabins</h2>

			<button class="add_listing button-text margin-top-s"><p><%= link_to "Add a cabin", new_listing_path %><p></button>

			<% @user.listings.each do |listing| %>
			<table class="margin-top-s">
				<tr>
					<td>
				  		<img class="listing-thumb" src="http://cdnstatic.visualizeus.com/thumbs/55/e4/architecture,cabin,wood-55e4e590aa729d6b9fa2f631fe58fcb8_h.jpg">
					</td>
					<td class="cabintext">
					    <h5><%= listing.title %></h5>
						<h5><%= listing.location %></h5>
					    <button class="s-button">- Remove</button>
				 	</td>
				 </tr>
			</table>
			<% end %>

		</div>


	</div><!-- end of guest and host section -->
</section><!-- end table div -->
