<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Cabin Fever</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="bg"></div>
	<!-- Start navigation -->
	<nav>
		<ul>
			<li><%= image_tag "logo-s.png", class: "logo-small" %></li>
			<li><%= link_to "Home", root_path %></li>
		    <% if user_signed_in? %>
		      <li>Welcome <%= current_user.firstname %></li>
		    <% else %>
		      <li><%= link_to "Sign up", new_user_registration_path%></li>
		    <% end %>

		    <% if user_signed_in? %>
		      <li><%=link_to "My profile", user_path(current_user)%></li>
		      <li><%=link_to "+ Add a cabin", new_listing_path(current_user)%></li>
		    <% end %>	

		    <% if user_signed_in? %>
		      <li><%= link_to "Log out", destroy_user_session_path, method: :delete  %></li>
		    <% else %>
		      <li><%= link_to "Log in", new_user_session_path%></li>
		   	<% end %>


		</ul>
	</nav>
	<!-- Landing -->
	<header>
		<%= image_tag "logo.png" %>
	</header>


	<!-- Start content -->




<%= yield %>







	<footer>
		<div class="row footer-row">
			<div class="col-md-6 footer-col">
				<img class="footer-image" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhwAAAAJGFhNTllMjJlLTlkNDUtNDZiNS1iOTVlLTVjOTM5NTY5ZGU3Zg.jpg">
				<p>Joost Calis</p>
				<p>joost_calis@hotmail.com</p>
				<p>06 14 15 3020</p>
				<p>Amsterdam</p>
				<p><a href="https://www.linkedin.com/in/joost-calis-5a4b68116?authType=NAME_SEARCH&authToken=PIQh&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A486605644%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1457691494965%2Ctas%3Ajoost" target="_blank"><img class="linkedin" src="http://www.crowddd.com/images/linkedin-256.png"></a></p>
			</div>
			<div class="col-md-6 footer-col">
				<img class="footer-image" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJWAAAAJGE1OGM1N2E1LWQzNDQtNDE2Yy04Y2M1LWI2N2QyM2M0ODAwYw.jpg">
				<p>Tjin Au Yeung</p>
				<p>auyeung.tjin@gmail.com</p>
				<p>06 138 42 657</p>
				<p>Amsterdam</p>
				<p><a href="https://www.linkedin.com/in/tjin-au-yeung-b8748985" target="_blank"><img class="linkedin" src="http://www.crowddd.com/images/linkedin-256.png"></a></p>
			</div>
		</div>

		<div class="social row">
			<ul>
				<li>Build in Amsterdam using Ruby on Rails - 2016</li>
			</ul>
		</div>
	</footer>

</body>
</html>
