<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Airbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Start navigation -->
	<nav>
		<ul>
			<li><%= image_tag "logo-s.png", class: "logo-small" %></li>
    <% if user_signed_in? %>
      <li><%= current_user.email %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path%></li>
    <% end %>
    <% if user_signed_in? %>
      <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete  %>
      </li>
    <% else %>
      <li><%= link_to "Log in", new_user_session_path%></li>
    <% end %>
    <% if user_signed_in? %>
      <li><%=link_to "Go to my profile page", user_path(current_user)%></li>
      <% end %>
			<li>Search</li>
		</ul>
	</nav>
	<!-- Landing -->
	<header>
		<%= image_tag "logo.png" %>
	</header>


	<!-- Start content -->




<%= yield %>









	<footer>
		<div class="row footer-row">
			<div class="col-md-3 footer-col">
				<img src="https://d22r54gnmuhwmk.cloudfront.net/app-assets/global/default_user_icon-7a95ec473c1c41f6d020d32c0504a0ef.jpg">
				<p>Michael</p>
				<p>michael@gmail.com</p>
				<p>06 224 88 938</p>
				<p>Amsterdam</p>
			</div>
			<div class="col-md-3 footer-col">
				<img src="https://d22r54gnmuhwmk.cloudfront.net/app-assets/global/default_user_icon-7a95ec473c1c41f6d020d32c0504a0ef.jpg">
				<p>Joost</p>
				<p>michael@gmail.com</p>
				<p>06 224 88 938</p>
				<p>Amsterdam</p>
			</div>
			<div class="col-md-3 footer-col">
				<img src="https://d22r54gnmuhwmk.cloudfront.net/app-assets/global/default_user_icon-7a95ec473c1c41f6d020d32c0504a0ef.jpg">
				<p>Tom</p>
				<p>michael@gmail.com</p>
				<p>06 224 88 938</p>
				<p>Amsterdam</p>
			</div>
			<div class="col-md-3 footer-col">
				<img src="https://d22r54gnmuhwmk.cloudfront.net/app-assets/global/default_user_icon-7a95ec473c1c41f6d020d32c0504a0ef.jpg">
				<p>Tjin</p>
				<p>michael@gmail.com</p>
				<p>06 224 88 938</p>
				<p>Amsterdam</p>
			</div>
		</div>

		<div class="social row">
			<ul>
				<li>facebook</li>
				<li>twitter</li>
				<li>instagram</li>
				<li>pinterest</li>
				<li>google plus</li>
			</ul>
		</div>
	</footer>

</body>
</html>
